* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.todo-container {
    margin: 100px auto;
    padding: 30px;
    border: 1px solid rgba(238, 238, 238, 0.9);
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgba(238, 238, 238);
}



h1 {
    font-weight: 700;
    font-size: 45px;
    margin: 10px;
    margin-bottom: 20px;
    color: rgb(187, 187, 187);
}


.item-row {
    margin: 10px 5px;
}
.btn{
    min-width: 80px;
}
