@import url('https://fonts.googleapis.com/css2?family=Sofadi+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&family=Sofadi+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&family=Nanum+Gothic:wght@400;700;800&family=Sofadi+One&display=swap');

// font's
$header-font:"Sofadi One", system-ui;
$sub-header-font:"Fascinate Inline", system-ui;
$para-font:"Nanum Gothic", sans-serif;
  

// color's
$Pinky: #fbe3e8;
$Blue-Greeny: #5cbdb9;
$Teeny-Greeny: #ebf6f5;

// border's
$border-size: 2px;

